#root {
  width: 100%;
}
.portfolio {
  min-height: 100vh;
  background:
    radial-gradient(circle at 75% 25%, rgba(95, 75, 255, 0.08), transparent 30%),
    #080a0f;
}

.navbar {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1400px;
  margin: auto;
  padding: 0 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo span {
  color: #6c63ff;
  font-size: 28px;
  font-weight: 900;
  font-style: italic;
}

.logo p {
  font-size: 15px;
  font-weight: 600;
}

.navbar nav {
  display: flex;
  gap: 35px;
}

.navbar nav a {
  color: #a9abb5;
  font-size: 14px;
  transition: 0.25s;
}

.navbar nav a:hover {
  color: white;
}

.github-button {
  border: 1px solid #343743;
  padding: 10px 20px;
  border-radius: 8px;

  font-size: 14px;
  transition: 0.25s;
}

.github-button:hover {
  border-color: #6c63ff;
  background: rgba(108, 99, 255, 0.1);
}

.hero {
  max-width: 1400px;
  min-height: calc(100vh - 80px);

  margin: auto;
  padding: 80px 60px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-content {
  max-width: 650px;
}

.hero-label {
  display: block;
  margin-bottom: 22px;

  color: #7770ff;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 5px;
}

.hero h1 {
  font-size: clamp(48px, 6vw, 85px);
  line-height: 1.05;
  letter-spacing: -3px;
}

.hero h1 span {
  color: #6c63ff;
}

.hero-content > p {
  max-width: 600px;

  margin-top: 28px;

  color: #9b9da8;

  font-size: 17px;
  line-height: 1.7;
}

.hero-buttons {
  display: flex;
  gap: 18px;
  margin-top: 35px;
}

.primary-button,
.secondary-button {
  padding: 14px 28px;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;

  transition: 0.25s;
}

.primary-button {
  background: #6257ff;
  color: white;
}

.primary-button:hover {
  background: #756cff;
  transform: translateY(-2px);
}

.secondary-button {
  border: 1px solid #6257ff;
}

.secondary-button:hover {
  background: rgba(98, 87, 255, 0.1);
  transform: translateY(-2px);
}

.hero-visual {
  height: 600px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: visible;
}

.hero-glow {
  position: absolute;

  width: 420px;
  height: 420px;

  border-radius: 50%;

  background: rgba(98, 87, 255, 0.18);

  filter: blur(100px);

  z-index: 0;
}

.hero-character {
  position: relative;

  width: 115%;
  max-width: 750px;
  height: auto;

  object-fit: contain;

  z-index: 1;

  filter:
    drop-shadow(0 0 25px rgba(98, 87, 255, 0.18));

  animation: characterFloat 5s ease-in-out infinite;
}

@keyframes characterFloat {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }
}

/* ---------- PROYECTOS ---------- */

.projects-section {
  max-width: 1400px;
  margin: auto;
  padding: 100px 60px;
}

.section-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: 40px;
}

.section-header > div {
  display: flex;
  align-items: center;
  gap: 18px;
}

.section-number {
  color: #6c63ff;
  font-size: 14px;
  font-weight: 700;
}

.section-header h2 {
  font-size: 36px;
}

.section-header > p {
  color: #777a85;
  font-size: 14px;
}

/* Tarjetas */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.project-card {
  overflow: hidden;

  border: 1px solid #20232d;
  border-radius: 14px;

  background: #0c0f15;

  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #6257ff;
}

/* Imagen temporal */

.project-image {
  height: 230px;

  display: flex;
  align-items: center;
  justify-content: center;

  background:
    radial-gradient(
      circle at center,
      rgba(98, 87, 255, 0.25),
      transparent 65%
    ),
    #10131b;

  color: #7770ff;

  font-size: 18px;
  font-weight: 800;
  letter-spacing: 4px;
}

/* Contenido */

.project-content {
  padding: 24px;
}

.project-content h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.project-content > p {
  min-height: 52px;

  color: #9699a5;

  font-size: 14px;
  line-height: 1.6;
}

.project-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 22px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project-tags span {
  padding: 6px 10px;

  border-radius: 6px;

  background: #151925;
  color: #b7b9c5;

  font-size: 11px;
}

.project-footer > a {
  color: #7770ff;
  font-size: 22px;
}


/* ---------- TECNOLOGÍAS ---------- */

.technologies-section {
  max-width: 1400px;
  margin: auto;
  padding: 100px 60px;

  border-top: 1px solid #181b23;
}

.technologies-grid {
  display: grid;

  grid-template-columns: repeat(5, 1fr);

  gap: 18px;
}

.technology-card {
  min-height: 135px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 14px;

  border: 1px solid #20232d;
  border-radius: 12px;

  background: #0c0f15;

  transition:
    transform 0.3s ease,
    border-color 0.3s ease,
    background 0.3s ease;
}

.technology-card:hover {
  transform: translateY(-5px);

  border-color: #6257ff;

  background: #10131c;
}

.technology-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 55px;
  height: 55px;

  border-radius: 12px;

  background: rgba(98, 87, 255, 0.1);

  color: #7770ff;

  font-size: 16px;
  font-weight: 800;
}

.technology-card p {
  color: #c5c6ce;

  font-size: 13px;
  font-weight: 600;
}


@media (max-width: 900px) {


  .technologies-section {
  padding: 70px 25px;
}

.technologies-grid {
  grid-template-columns: repeat(2, 1fr);
}

.technology-card {
  min-height: 120px;
}
  
  .projects-section {
  padding: 70px 25px;
}

  .projects-grid {
  grid-template-columns: 1fr;
}

.section-header {
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.project-image {
  height: 200px;
}

  .navbar {
    padding: 0 25px;
  }

  .navbar nav {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;

    padding: 70px 25px;

    text-align: center;
  }

  .hero-content {
    margin: auto;
  }

  .hero-content > p {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-visual {
    height: 400px;
    margin-top: 30px;
  }

  .hero-character{
    width: 100%;
    max-width: 500px;
  }
}